---
import "../../styles/global.css";
---
<html lang="en">
  <head>
    <title>First Post</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <article>
      <h1>How I built this cyberpunk site in Astro</h1>
      <p><small>Posted on June 13, 2025</small></p>
      <p>In this post, I talk about neon vibes, green code, and embracing the darkness...</p>
    </article>
  </body>
</html>
